* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.center-no-border {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit:contain;
}

.emptext {
    font-style: italic;
    font-size: 20px;
    text-align: center;
}


.header {
    text-align: center;
    color: #F5FAFF;
    background-color: #2b8091;
    padding: 5px;
    position:relative;
}

    .header h1 {
        text-transform: uppercase;
        letter-spacing: .25px;
    }

h2 {
    font-weight: bold;
    text-align: center;
    color: #2b8091;
}

p {
    font-size: 14px;
    line-height: 20px;
}

a {
    color: #2b8091;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }
  
    a:hover {
        color: #333333;
    }
    
    a.officiallink {
        text-align: center;
        display: block;
    }

ul {
    list-style-type: square;
}

    li {
        font-size: 14px;
        line-height: 20px;
    }

table {  
    border:2px solid;
    border-color: #333333;
    border-collapse: collapse;
    margin: auto;
}

th, td {
    padding: 5px;
}

th {
    background-color: #333333;
    color: #F5FAFF;
    text-align: left;
}

td {
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #2b8091;
    color:#F5FAFF;
}

.gamefont{ 
    font-family: 'Courier New', Courier, monospace;
    font-size: 135%;
}

.topnav {
    background-color: #333333;
    overflow: hidden;
    letter-spacing: .5px;
  }
  
  .topnav a {
    float: left;
    color: #F5FAFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .topnav a:hover {
    background-color: #F5FAFF;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2b8091;
    color: white;
  }

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 250,
            'GRAD' 0,
            'opsz' 48;
    vertical-align: bottom;
    font-size: 16px !important;
}

.two-column-grid {
    display:block;
}

    .two-column-grid .left-column {
        background-color: #40B29F; 
    }

    .two-column-grid .left-column .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit:contain;
        border: 5px solid #2b8091;
    }

    .two-column-grid .right-column {
        background-color: #F5FAFF; 
    }

    .two-column-grid .left-column-white {
        background-color: #F5FAFF; 
    }
    
    .two-column-grid .right-column-teal {
        background-color: #40B29F; 
    }

    .two-column-grid .right-column-teal .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit:contain;
        border: 5px solid #2b8091;
    }

.two-column-grid > * {
    padding:35px;
}

@media (min-width:768px) {
    .two-column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


.footer {
    color: #F5FAFF;
    background-color: #2b8091;
    padding: 25px;
}